<% if defined?(@result) && @result %>
  <%= turbo_stream.replace "gel_result" do %>
    <%= turbo_frame_tag "gel_result" do %>
      <%= render "result", result: @result %>
    <% end %>
  <% end %>

  <%= turbo_stream.replace "gel_calc_form" do %>
    <%= turbo_frame_tag "gel_calc_form" do %>
      <%= render "form", gel_calc: @gel_calc %>
    <% end %>
  <% end %>
<% else %>
  <%= turbo_stream.replace "gel_calc_form" do %>
    <%= turbo_frame_tag "gel_calc_form" do %>
      <%= render "form", gel_calc: @gel_calc %>
      <% if defined?(@errors) && @errors&.any? %>
        <div class="mt-4 p-4 bg-red-50 border border-red-200 rounded-md">
          <h3 class="text-sm font-medium text-red-800 mb-2">Błędy walidacji:</h3>
          <ul class="text-sm text-red-700 list-disc list-inside">
            <% @errors.each do |field, messages| %>
              <% messages.each do |message| %>
                <li><%= field %>: <%= message %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
